@font-face {
  font-family: ozone;
  src: url(Ozone.ttf);
}

p.score {
  text-align: center;
  font-family: ozone;
  font-size: 3rem;
  background-color: #292B2C;
  color: white;
}

p.affvsres {
  width: 100vw;
}

div.rsp {
  display: flex;
  flex-flow: column wrap;
  height: 80vh;
}

div.fightarena {
  order: -1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 60vw;
}

div.playerbtn, div.replaybtn {
  width: 38vw;
}

.playerbtn .btn, .replaybtn .btn {
  margin: 5px 0;
}

img {
  height: 24vh;
  position: relative;
}

img#img_p {
  top: 10vh;
  background-color: lightblue;
}

img#img_o, img#img_r {
  bottom: 10vh;
  background-color: #AA2222;
}

/* ################################################################################ */

@media (min-width: 768px) {

  div.rsp {
    flex-flow: column nowrap;
  }

  div.fightarena, div.playerbtn, div.replaybtn {
    display: flex;
    flex-flow: row nowrap;
  }

  div.playerbtn {
    width: 40vw;
    height: 8vh;
  }

  div.fightarena {
    width: 100vw;
    height: 60vh;
    order: 0;
  }

  div.playerbtn, div.replaybtn {
    justify-content: space-around;
  }

  div.replaybtn {
    width: 100vw;
    height: 8vh;
  }

  div img {
    width: 20vw;
    height: auto;
  }

  img#img_p {
    left: 10vw;
    top:0;
  }

  img#img_o, img#img_r {
    right: 10vw;
    bottom: 0;
  }
}
