@font-face {
  font-family: ozone;
  src: url(Ozone.ttf);
}

p.score {
  text-align: center;
  font-family: ozone;
  font-size: 3rem;
  background-color: #292B2C;
  color: white;
}


/*div.rsp {
  display: flex;
  flex-flow: column wrap;
}*/

div.fightarena {
  order: -1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
  /*width: 60vw;*/
  margin: 20px 0;
}

/*div.playerbtn, div.replaybtn {
  width: 38vw;
}*/

img {
  height: 24vh;
  position: relative;
}

img#img_p {
  top: 10vh;
  background-color: lightblue;
}

img#img_o, img#img_r {
  bottom: 10vh;
  background-color: #AA2222;
}

/* ################################################################################ */

@media (min-width: 768px) {

  div.fightarena {
    flex-direction: row;
    height: 60vh;
    order: 0;
  }

  div img {
    width: 20vw;
    height: auto;
  }

  img#img_p {
    left: 10vw;
    top:0;
  }

  img#img_o, img#img_r {
    right: 10vw;
    bottom: 0;
  }
}
